/*
Mục tiêu của dự án cuối cùng là tạo ra một trang web đáp ứng có ba chế độ xem riêng biệt - điện thoại di động, máy tính bảng và màn hình lớn. Bằng cách thay đổi màn hình và chiều rộng của các phần tử, bạn sẽ thay đổi bố cục từ một div ngang, sang hai div ngang, thành ba div ngang. Bằng cách thêm truy vấn phương tiện, bạn có thể kích hoạt những thay đổi này tự động ở các kích thước khung xem khác nhau. 

Chế độ xem di động được cung cấp cho bạn 
dưới dạng tệp zip
.

Bạn sẽ cần chỉnh sửa tệp style.css để thêm hai truy vấn phương tiện.

Truy vấn #1 sẽ kích hoạt ở 772px và hoạt động như “Chế độ xem máy tính bảng” của bạn

Thay đổi bố cục trang sao cho divs bằng 45% chiều rộng của chế độ xem và hình ảnh không quá 30% chiều cao của chế độ xem. 

 (Bạn sẽ cần thay đổi nhiều hơn chỉ chiều rộng để đạt được sự thay đổi đối với các divs...)

Truy vấn #2 sẽ kích hoạt ở 998px và hoạt động như “Chế độ xem màn hình lớn” của bạn

Thay đổi bố cục trang sao cho divs bằng 30% chiều rộng của chế độ xem. 

Không cần thay đổi nào khác.

Đánh giá ngang hàng của bạn thường là một cơ hội tuyệt vời để xem liệu những người khác có viết mã của họ khác hay không, nhưng trong trường hợp này hầu hết các mã sẽ rất giống nhau. Đừng lo lắng, nhiệm vụ tiếp theo sẽ có nhiều sáng tạo hơn!
*/
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

@media screen and (min-width: 772px) {
    .div{
        width: 45%;
        height: 30vh;
        /*
You will need to make additional changes to ensure that the divs appear 
next to each other and that the images are contained within the divs.  
Some of these properties include display, width and max-height.
        */


    }
}

@media screen and (min-width: 998px) {
    .div{
        width: 30%;
    }
}


























/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */